# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

We didn't get that lab https://github.com/ta-data-mex/lab-subsetting-and-descriptive-stats

In [2]:
# enter your code here
orders = pd.read_csv("../../lab_subsetting_and_descriptive_stats/your-code/Orders.csv")
orders

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08
10,10,536367,22745,2010,12,3,8,poppy's playhouse bedroom,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60
11,11,536367,22748,2010,12,3,8,poppy's playhouse kitchen,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60
12,12,536367,22749,2010,12,3,8,feltcraft princess charlotte doll,8,2010-12-01 08:34:00,3.75,13047,United Kingdom,30.00
13,13,536367,22310,2010,12,3,8,ivory knitted mug cosy,6,2010-12-01 08:34:00,1.65,13047,United Kingdom,9.90
14,14,536367,84969,2010,12,3,8,box of 6 assorted colour teaspoons,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50
15,15,536367,22623,2010,12,3,8,box of vintage jigsaw blocks,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
16,16,536367,22622,2010,12,3,8,box of vintage alphabet blocks,2,2010-12-01 08:34:00,9.95,13047,United Kingdom,19.90
17,17,536367,21754,2010,12,3,8,home building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85
18,18,536367,21755,2010,12,3,8,love building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85
19,19,536367,21777,2010,12,3,8,recipe box with metal heart,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80
20,20,536367,48187,2010,12,3,8,doormat new england,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80
21,21,536368,22960,2010,12,3,8,jam making set with jars,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50
22,22,536368,22913,2010,12,3,8,red coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
23,23,536368,22912,2010,12,3,8,yellow coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
24,24,536368,22914,2010,12,3,8,blue coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
25,25,536369,21756,2010,12,3,8,bath building block word,3,2010-12-01 08:35:00,5.95,13047,United Kingdom,17.85
26,26,536370,22728,2010,12,3,8,alarm clock bakelike pink,24,2010-12-01 08:45:00,3.75,12583,France,90.00
27,27,536370,22727,2010,12,3,8,alarm clock bakelike red,24,2010-12-01 08:45:00,3.75,12583,France,90.00
28,28,536370,22726,2010,12,3,8,alarm clock bakelike green,12,2010-12-01 08:45:00,3.75,12583,France,45.00
29,29,536370,21724,2010,12,3,8,panda and bunnies sticker sheet,12,2010-12-01 08:45:00,0.85,12583,France,10.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397894,541879,581585,22726,2011,12,5,12,alarm clock bakelike green,8,2011-12-09 12:31:00,3.75,15804,United Kingdom,30.00
397895,541880,581585,22727,2011,12,5,12,alarm clock bakelike red,4,2011-12-09 12:31:00,3.75,15804,United Kingdom,15.00
397896,541881,581585,16016,2011,12,5,12,large chinese style scissor,10,2011-12-09 12:31:00,0.85,15804,United Kingdom,8.50
397897,541882,581585,21916,2011,12,5,12,set 12 retro white chalk sticks,24,2011-12-09 12:31:00,0.42,15804,United Kingdom,10.08
397898,541883,581585,84692,2011,12,5,12,box of 24 cocktail parasols,25,2011-12-09 12:31:00,0.42,15804,United Kingdom,10.50
397899,541884,581585,84946,2011,12,5,12,antique silver t-light glass,12,2011-12-09 12:31:00,1.25,15804,United Kingdom,15.00
397900,541885,581585,21684,2011,12,5,12,small medina stamped metal bowl,12,2011-12-09 12:31:00,0.85,15804,United Kingdom,10.20
397901,541886,581585,22398,2011,12,5,12,magnets pack of 4 swallows,12,2011-12-09 12:31:00,0.39,15804,United Kingdom,4.68
397902,541887,581585,23328,2011,12,5,12,set 6 school milk bottles in crate,4,2011-12-09 12:31:00,3.75,15804,United Kingdom,15.00
397903,541888,581585,23145,2011,12,5,12,zinc t-light holder star large,12,2011-12-09 12:31:00,0.95,15804,United Kingdom,11.40
397904,541889,581585,22466,2011,12,5,12,fairy tale cottage night light,12,2011-12-09 12:31:00,1.95,15804,United Kingdom,23.40
397905,541890,581586,22061,2011,12,5,12,large cake stand hanging strawbery,8,2011-12-09 12:49:00,2.95,13113,United Kingdom,23.60
397906,541891,581586,23275,2011,12,5,12,set of 3 hanging owls ollie beak,24,2011-12-09 12:49:00,1.25,13113,United Kingdom,30.00
397907,541892,581586,21217,2011,12,5,12,red retrospot round cake tins,24,2011-12-09 12:49:00,8.95,13113,United Kingdom,214.80
397908,541893,581586,20685,2011,12,5,12,doormat red retrospot,10,2011-12-09 12:49:00,7.08,13113,United Kingdom,70.80
397909,541894,581587,22631,2011,12,5,12,circus parade lunch box,12,2011-12-09 12:50:00,1.95,12680,France,23.40
397910,541895,581587,22556,2011,12,5,12,plasters in tin circus parade,12,2011-12-09 12:50:00,1.65,12680,France,19.80
397911,541896,581587,22555,2011,12,5,12,plasters in tin strongman,12,2011-12-09 12:50:00,1.65,12680,France,19.80
397912,541897,581587,22728,2011,12,5,12,alarm clock bakelike pink,4,2011-12-09 12:50:00,3.75,12680,France,15.00
397913,541898,581587,22727,2011,12,5,12,alarm clock bakelike red,4,2011-12-09 12:50:00,3.75,12680,France,15.00
397914,541899,581587,22726,2011,12,5,12,alarm clock bakelike green,4,2011-12-09 12:50:00,3.75,12680,France,15.00
397915,541900,581587,22730,2011,12,5,12,alarm clock bakelike ivory,4,2011-12-09 12:50:00,3.75,12680,France,15.00
397916,541901,581587,22367,2011,12,5,12,childrens apron spaceboy design,8,2011-12-09 12:50:00,1.95,12680,France,15.60
397917,541902,581587,22629,2011,12,5,12,spaceboy lunch box,12,2011-12-09 12:50:00,1.95,12680,France,23.40
397918,541903,581587,23256,2011,12,5,12,childrens cutlery spaceboy,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397919,541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20
397920,541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60
397921,541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397922,541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397923,541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [34]:
#Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?
customers = orders.groupby(['CustomerID']).agg({'amount_spent':sum})
customers

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40
12352            2506.04
12353              89.00
12354            1079.40
12355             459.40
12356            2811.43
12357            6207.67
12358            1168.06
12359            6372.58
12360            2662.06
12361             189.90
12362            5226.23
12363             552.00
12364            1313.10
12365             641.38
12367             168.90
12370            3545.69
12371            1887.96
12372            1298.04
12373             364.60
12374             742.93
12375             457.50
12377            1628.12
12378            4008.62
12379             852.24
12380            2724.81
...                  ...
18242            2232.49
18245            2567.06
18246             596.10
18248             804.02
18249              95.34
18250             349.27
18251            4314.72
18252             526.67
18255             103.30
18257            2337.63
18259            2338.60
18260            2643.20
18261             324.24
18262             149.48
18263            1213.16
18265             801.51
18268              25.50
18269             168.60
18270             283.15
18272            3078.58
18273             204.00
18274             175.92
18276             335.86
18277             110.38
18278             173.90
18280             180.60
18281              80.82
18282             178.05
18283            2094.88
18287            1837.28

[4339 rows x 1 columns]

In [35]:
#Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?
#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?
#First, identify two groups of customers from the data set. The first group is VIP Customers whose aggregated 
#expenses at your global chain stores are above the 95th percentile (aka. 0.95 quantile). 
#The second group is Preferred Customers whose aggregated expenses are between the 75th and 95th percentile.
q95 = customers['amount_spent'].quantile(0.95)
#q95 is 5840.181999999983
q75 = customers['amount_spent'].quantile(0.75)
#q75 is 1661.64
q100 = customers['amount_spent'].quantile(1)
# q100 is 280206.01999999984 = customers['amount_spent'].max()

In [36]:
customers['Label']=''

conditions = [
    (customers['amount_spent']>q95),
    (customers['amount_spent']>=q75)
]

labels = ['VIP', 'Preferred']

customers['Label'] = np.select(conditions, labels)

customers

            amount_spent      Label
CustomerID
12346           77183.60        VIP
12347            4310.00  Preferred
12348            1797.24  Preferred
12349            1757.55  Preferred
12350             334.40          0
12352            2506.04  Preferred
12353              89.00          0
12354            1079.40          0
12355             459.40          0
12356            2811.43  Preferred
12357            6207.67        VIP
12358            1168.06          0
12359            6372.58        VIP
12360            2662.06  Preferred
12361             189.90          0
12362            5226.23  Preferred
12363             552.00          0
12364            1313.10          0
12365             641.38          0
12367             168.90          0
12370            3545.69  Preferred
12371            1887.96  Preferred
12372            1298.04          0
12373             364.60          0
12374             742.93          0
12375             457.50          0
12377            1628.12          0
12378            4008.62  Preferred
12379             852.24          0
12380            2724.81  Preferred
...                  ...        ...
18242            2232.49  Preferred
18245            2567.06  Preferred
18246             596.10          0
18248             804.02          0
18249              95.34          0
18250             349.27          0
18251            4314.72  Preferred
18252             526.67          0
18255             103.30          0
18257            2337.63  Preferred
18259            2338.60  Preferred
18260            2643.20  Preferred
18261             324.24          0
18262             149.48          0
18263            1213.16          0
18265             801.51          0
18268              25.50          0
18269             168.60          0
18270             283.15          0
18272            3078.58  Preferred
18273             204.00          0
18274             175.92          0
18276             335.86          0
18277             110.38          0
18278             173.90          0
18280             180.60          0
18281              80.82          0
18282             178.05          0
18283            2094.88  Preferred
18287            1837.28  Preferred

[4339 rows x 2 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

Provide your solution for Q2 below:

In [112]:
total_spent=orders.groupby(["CustomerID","Country"])["amount_spent"].sum().sort_values(ascending=False)
total_spent=total_spent.to_frame()
total_spent['Label']=''

conditions = [
    (total_spent['amount_spent']>q95),
    (total_spent['amount_spent']>=q75)
]

labels = ['VIP', 'Preferred']

total_spent['Label'] = np.select(conditions, labels)

total_spent

                           amount_spent Label
CustomerID Country
14646      Netherlands        280206.02   VIP
18102      United Kingdom     259657.30   VIP
17450      United Kingdom     194550.79   VIP
16446      United Kingdom     168472.50   VIP
14911      EIRE               143825.06   VIP
12415      Australia          124914.53   VIP
14156      EIRE               117379.63   VIP
17511      United Kingdom      91062.38   VIP
16029      United Kingdom      81024.84   VIP
12346      United Kingdom      77183.60   VIP
16684      United Kingdom      66653.56   VIP
14096      United Kingdom      65164.79   VIP
13694      United Kingdom      65039.62   VIP
15311      United Kingdom      60767.90   VIP
13089      United Kingdom      58825.83   VIP
17949      United Kingdom      58510.48   VIP
15769      United Kingdom      56252.72   VIP
15061      United Kingdom      54534.14   VIP
14298      United Kingdom      51527.30   VIP
14088      United Kingdom      50491.81   VIP
15749      United Kingdom      44534.30   VIP
12931      United Kingdom      42055.96   VIP
17841      United Kingdom      40991.57   VIP
15098      United Kingdom      39916.50   VIP
13798      United Kingdom      37153.85   VIP
16013      United Kingdom      37130.60   VIP
16422      United Kingdom      34684.40   VIP
12748      United Kingdom      33719.73   VIP
15838      United Kingdom      33643.08   VIP
17404      Sweden              31906.82   VIP
...                                 ...   ...
14589      United Kingdom         39.75     0
12977      United Kingdom         39.24     0
16659      United Kingdom         39.12     0
18019      United Kingdom         38.45     0
12855      United Kingdom         38.10     0
16162      United Kingdom         37.40     0
17816      United Kingdom         36.56     0
15940      United Kingdom         35.80     0
14576      United Kingdom         35.40     0
16856      United Kingdom         35.40     0
17831      United Kingdom         35.40     0
15744      United Kingdom         34.80     0
16765      United Kingdom         34.00     0
17408      United Kingdom         32.65     0
13120      United Kingdom         30.60     0
15657      United Kingdom         30.00     0
17102      United Kingdom         25.50     0
18268      United Kingdom         25.50     0
17986      United Kingdom         20.80     0
16953      United Kingdom         20.80     0
16093      United Kingdom         17.00     0
17763      United Kingdom         15.00     0
15823      United Kingdom         15.00     0
13307      United Kingdom         15.00     0
16878      United Kingdom         13.30     0
17956      United Kingdom         12.75     0
16454      United Kingdom          6.90     0
14792      United Kingdom          6.20     0
16738      United Kingdom          3.75     0
13256      United Kingdom          0.00     0

[4347 rows x 2 columns]

In [125]:
total_spent[total_spent["Label"]=="VIP"].groupby("Country").count()
#United Kingdom has most of the VIP customers

                 amount_spent  Label
Country
Australia                   1      1
Channel Islands             1      1
Cyprus                      1      1
Denmark                     1      1
EIRE                        2      2
Finland                     1      1
France                      9      9
Germany                    10     10
Japan                       2      2
Netherlands                 1      1
Norway                      1      1
Portugal                    2      2
Singapore                   1      1
Spain                       2      2
Sweden                      1      1
Switzerland                 3      3
United Kingdom            177    177

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [133]:
options = ['VIP', 'Preferred']

VIP_Preferred = total_spent[total_spent['Label'].isin(options)]
VIP_Preferred.groupby("Country").count()

                 amount_spent  Label
Country
Australia                   4      4
Austria                     1      1
Belgium                    11     11
Canada                      1      1
Channel Islands             4      4
Cyprus                      3      3
Denmark                     3      3
EIRE                        3      3
Finland                     5      5
France                     29     29
Germany                    39     39
Greece                      1      1
Iceland                     1      1
Israel                      2      2
Italy                       5      5
Japan                       4      4
Lebanon                     1      1
Malta                       1      1
Netherlands                 1      1
Norway                      7      7
Poland                      1      1
Portugal                    7      7
Singapore                   1      1
Spain                       7      7
Sweden                      2      2
Switzerland                 9      9
United Kingdom            932    932

In [144]:
Austria = orders[orders['Country']=='Austria'].groupby(['CustomerID']).agg({'amount_spent':sum})
Austria
#Austria has 1 Preferred and no VIP (Austria doesn't appear in the list of only VIP countries)

            amount_spent
CustomerID
12358            1168.06
12360            2662.06
12370             277.20
12373             364.60
12374             742.93
12414             562.41
12429             437.98
12453             707.09
12817             166.04
12818            1542.08
12865            1568.23

In [145]:
Australia = orders[orders['Country']=='Australia'].groupby(['CustomerID']).agg({'amount_spent':sum})
Australia
#Australia has 1 VIP and 3 Preferref = 4 total

            amount_spent
CustomerID
12386             401.90
12388            2780.66
12393            1582.60
12415          124914.53
12422             386.20
12424            1760.96
12431            5514.67
12434             806.14
16321             373.65